<app-loading *ngIf="loading"></app-loading>

<div class="row mb-5" *ngIf="!loading">
  <div class="col-sm-12 col-lg-8 offset-lg-2">
    <div class="card w-75 h-100 mx-auto">
      <img [src]="imgUrl" class="card-img-top img-thumbnail">
      <div class="card-body text-center">
        <h5 class="card-title">{{name}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{email}}</li>
          <li class="list-group-item">{{gender}}</li>
          <li class="list-group-item">{{status}}</li>
        </ul>
      </div>
      <button class="btn btn block btn-xl" routerLink="/dashboard">VOLVER</button>
    </div>
  </div>
</div>
